*,
*:before,
*:after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.title-reset {
  margin: 0;
}

.descr-reset {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  text-align: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next.swiper-button-disabled .special-offers__button-next-svg,
.swiper-button-prev.swiper-button-disabled .special-offers__button-prev-svg {
  border-color: grey;
  color: grey;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 1;
}

.intro {
  display: flex;
  justify-content: space-between;
}

.own-intro {
  width: 65%;
  margin-right: 30px;
}

.own-intro__btn-next,
.own-intro__btn-prev {
  width: 60px;
  height: 60px;
}

.own-intro__swiper-img {
  width: 100%;
  border-radius: 8px;
}

.own-intro__swiper-slide {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.own-intro__btns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 240px;
  left: 0;
  z-index: 111;
  transform: translateY(-50%);
  pointer-events: none;
}

.own-intro__btn-prev,
.own-intro__btn-next {
  position: static;
  margin-top: 0;
  pointer-events: all;
}

.own-intro__swiper .swiper-pagination {
  bottom: 90px;
}

.own-intro__swiper .swiper-pagination-bullet {
  width: 26px;
  height: 4px;
  background-color: #a65cf0;
  border-radius: unset;
}

.own-intro__swiper-title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #1e2329;
}

.own-intro__swiper-descr {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #1e2329;
}

.two-intro {
  border: 2px solid red;
  width: 30%;
  height: auto;
  min-height: 300px;
}

@media (max-width: 1250px) {
  .own-intro__swiper-title {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (max-width: 600px) {
  .intro {
    flex-direction: column;
  }
  .own-intro {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .two-intro {
    width: 100%;
  }
}
