$colorBlack: #353535;
$colorBlackDark: #000;
$colorWhite: #fff;
$colorGreyLight: #efeff8;
$colorGrey: #7a7a7a;
$colorGreyRadio: #ced6e3;
$colorGreyBorder: #f0f0f0;
$colorGreyBtn: #b9b9b9;
$colorGreyBg: #d7dde7;
$colorPurpleLight: #d985ff;
$colorPurple: #b72bf6;
$colorPurpleHover: #7f26a8;
$colorPurpleActive: #8c07fa;
$colorBlue: #25a3e1;
$colorBlueHover: #1488c2;
$colorBlueActive: #1b75a1;
$colorYellow: #f0ad00;
$colorGreen: #009b3e;
$colorRed: #ff2222;
$colorCardBackground: #f4f4fc;
$colorIcons: #2b004e;
$colorDiscord: #5869eb;



$colorNameCollectionGreyBorder: #e7e7e7;


